html, body {
	background-color: #161c21;
	color: #dfdfdf;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 2rem;
}

main {
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}

.ql-toolbar.ql-snow {
	text-align: left;
}

.ql-snow .ql-stroke {
	stroke: #dfdfdf;
}

.ql-snow .ql-picker {
	color: #dfdfdf;
}

.ql-snow .ql-picker-options {
	background-color: #161c21;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
	border-color: #2e3942;
}