html,
body {
	background-color: #161c21;
	color: #dfdfdf;
	font-family: "Roboto", sans-serif;
}

h1 {
	font-size: 2rem;
}

main {
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}

.ql-toolbar.ql-snow {
	text-align: left;
	border-radius: 10px 10px 0 0;
	background-color: #1f2831;
	box-shadow: 10px 10px 10px #00000033;
}

.ql-snow .ql-stroke {
	stroke: #dfdfdf;
}

.ql-snow .ql-picker {
	color: #dfdfdf;
}

.ql-snow .ql-picker-options {
	background-color: #161c21;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
	border-color: #2e3942;
}

#editor {
	background-color: #0b1117;
	border-radius: 0 0 10px 10px;
	box-shadow: 10px 10px 10px #00000033;
}
