html,
body {
	background-color: #161c21;
	color: #dfdfdf;
	font-family: "Roboto", sans-serif;
}

h1 {
	font-size: 2rem;
}

main {
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}

.ql-toolbar.ql-snow {
	text-align: left;
	border-radius: 10px 10px 0 0;
	background-color: #1f2831;
	box-shadow: 10px 10px 10px #00000033;
}

.ql-snow .ql-stroke {
	stroke: #dfdfdf;
}

.ql-snow .ql-picker {
	color: #dfdfdf;
}

.ql-snow .ql-picker-options {
	background-color: #161c21;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
	border-color: #2e3942;
}

#editor {
	background-color: #0b1117;
	border-radius: 0 0 10px 10px;
	box-shadow: 10px 10px 10px #00000033;
}

#topbar {
	display: flex;
	align-items: center;
}

#topbar > * {
	margin: 10px;
}

#topbar form input[type="submit"] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #161c21;
	color: #dfdfdf;
	outline: 1px solid #ffffff;
	transition: all 0.2s ease-in-out;
}

#topbar form input[type="submit"]:hover {
	outline: 1px solid #dfdfdf;
	background-color: #0b0f13;
	cursor: pointer;
}

#noteTitle {
	width: 50%;
	padding: 10px;
	margin: 10px 0;
	border: none;
	border-radius: 5px;
	background-color: #161c21;
	color: #dfdfdf;
	outline: 1px solid #dfdfdf00;
	transition: all 0.2s ease-in-out;
}

.savedNote {
	background-color: #0b0f13;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px auto;
	width: 30%;
	transition: all 0.2s ease-in-out;
}

.savedNote:hover {
	cursor: pointer;
	background-color: rgb(42, 52, 61);
}

.savedNote a {
	color: #dfdfdf;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2rem;
	width: 100%;
	height: 100%;
	padding: 10px;
}
